.App {
  text-align: center;
  background-color:rgb(9, 23, 71);
}

.container {
  padding: 40px;
  background: #419be0;
}
.slick-slide img {
  margin: auto;
}

.carousel__slide, .carousel__inner-slide, .carousel__slide--hidden,.carousel>div{
  transition: 200ms;
}

.carousel{
  display: flex;
  flex-direction: column;
}
.carousel>div{
  display: flex;
  min-height: 16rem;
}
.carousel>div>div{
  flex-basis: 90%;
}
.carousel img{
  height: 10rem;
}
.logo{
  max-width: 18rem;
}
.carousel__slide h5{
  font-weight: 700;
  font-size: large ;
  line-height: 1.2;
  padding-top:0.5rem;
}
.carousel__slide h5 {
  font-weight: 700;
  font-size: large ;
  line-height: 1.2;
  padding-top:0.5rem;
}

.carousel__slide p,.carousel__slide p>a {
  font-size: 0.8rem ;
  display: flex;
  align-items: center;
}

.carousel__slide p>a :hover,.carousel__slide p>a :focus{
  color: orange
}

.carousel__slide a svg{
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.25rem;
}
.carousel button[disabled] {
  color: transparent;
}

.animate {
  margin-bottom: 5rem;
	position: relative;
	animation: bounce 4s infinite;
	-webkit-animation: bounce 4s infinite;
	-moz-animation: bounce 4s infinite;
	-o-animation: bounce 4s infinite;
  transition: all .4s ease-in-out;
}

.animate:hover {
  transform: scale(1.75);
  animation: none;
  -webkit-animation:none;
	-moz-animation:none;
	-o-animation:none;
}

.green{
color: var(--chakra-colors-green-500);
}


 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: scale(1);}	
	40% {-webkit-transform: scale(1.5);}
	60% {-webkit-transform: scale(1.25);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: scale(1);}
	40% {-moz-transform: scale(1.5);}
	60% {-moz-transform: scale(1.25);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: scale(1);}
	40% {-o-transform: scale(1.5);}
	60% {-o-transform: scale(1.25);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: scale(1);}
	40% {transform: scale(1.5);}
	60% {transform: scale(1.25);}
}